.section{
    margin: 0 auto;
    background-color:lavender;
}
.center {
    text-align:center;
}
.divback {
    background-color: white;
}
.card {
    margin:auto;
}
audio { 
    height: 40px;
    width: 100%; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.8);
    border-radius: 90px;
    transition-property: height;
    transition-duration: .3s;
    transition-timing-function: linear; 
      }
audio:hover {
    height:50px;
}

.nav-item:hover {
    transform:scale(1.05)
}