
body {
    font-family: 'Cabin', sans-serif;
}
h3 {
    margin: left 15px right 15px
}
.jumbotron {
    background: url(Assets/Images/landscape.jpg);
    background-position: bottom;
}
.center {
    text-align:center;
}
.card {
    margin:auto;
}
audio { 
    max-height: 40px;
    max-width: 100%;
      }


.nav-item:hover {
    transform:scale(1.05)
}

.layout-social .layout-icon {
    font-size: 3em;
}